.swipeButtons{
    position: fixed;
    bottom: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.swipeButtons .MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 3) !important;
}
.swipeButton__repate{
    padding: 3vw  !important;
    color: sandybrown !important;
}
.swipeButtons__left{
    padding: 3vw !important;
    color:palevioletred !important;
}
.swipeButtons__star{
    padding: 3vw !important;
    color: royalblue !important;
}
.swipeButtons__right{
    padding: 3vw !important;
    color:aqua !important;
}
.swipeButtons__lightning{
    padding: 3vw !important;
    color:brown !important;
}
